@import 'header.scss';
body{
    background-color: aqua;
}

.v-menu{
    color: azure;
}

* {
    box-sizing: border-box;
  }
   
  .row {
    display: flex;
  }
   
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }